#Autor: Luis Fernando Valverde Cardenas
#Objetivo: aprender a crear unidades de tiempo o temporizadores unido a su respectivo servicio

[Unit]
#Descripcion del temporizador
Description=Temporizador al inicio del sistema para el servicio fechaInicioSistema.service
#Este temporizador requiere del servicio ...
Requires=fechaInicioSistema.service

[Timer]
#Ejecutamos el servicio ...
Unit=fechaInicioSistema.service
#Se ejecutara 1s depues del inicio del sistema
OnBootSec=1

[Install]
#Esperara a que el objetivo de los temporizadores este activo para ejecutarse
WantedBy=timers.target
