#Autor: Luis Fernando Valverde Cardenas
#Objetivo: practicar con unidades de servicios

[Unit]
#Descripcion del servicio ...
Description=Reporte de usuarios conectados/autenticados al sistema
#Requiere del temporizador ... para funcionar
Wants=usuariosConectados.timer

[Service]
#Tipo del servicio
Type=simple
#Usuario que va a ejecutar el procedimiento del servicio
User=servicial
#Lo que se va a ejecutar
ExecStart=/bin/bash /srv/scripts/usuariosConectados.sh

[Install]
#Esperamos a que el objetivo ... este activo
WantedBy=multi-user.target
